$border-color: #ddd;
$max-z-index: 2147483647;
$menu-width: 33%;
$header-height: 50px;
$header-margin: 6px;
$tab-radius: 1em;
$primary-theme-color: #0069ba;
$tab-height: 45px;
$header-border-bottom: 1px solid rgba(0, 0, 0, 0.2);
$header-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
$header-height: 50px;
$input-height: 36px;
$tab-container-padding: 10px;
$tab-container-background-color: #464646;
$min-height: 250px;
$modal-padding: 5%;
$panel-min-width: 325px;
$panel-font-color: rgb(77,90,103);
$panel-background-color: #e6e6e6;
$panel-z-index: $max-z-index - 100;
$header-background-color: #f2f2f2;