<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <title>SiteInspector.js Bundle Test Page</title>
</head>
<body>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      window.siteInspector.init({
        title: 'SiteInspector.js',
        tabs: [
          {
            title: 'Capture',
            id: 'capture',
            location: '/tabs/captureTab.js',
          }
        ],
      });
    });
  </script>
</body>
</html>
