registry=https://registry.npmjs.org/
@ms-fw:registry=https://fluentweb.pkgs.visualstudio.com/_packaging/ms.fw/npm/registry/
always-auth=false
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 7/2/2018.
; begin auth token
//fluentweb.pkgs.visualstudio.com/_packaging/ms.fw/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIxYjg4OWMzOC0wMjY3LTQwYjMtOGNiMy1hZDE4ZDRjMTI3MzkiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZjRiZDFjYjQtNzQ3Ny00YTkwLTg2MDItMGFlNGM2ZWRkYjMxIiwic2lkIjoiNDZlZjdhZmUtMTg4ZS00YTQ1LWFmNDQtM2U1YjYzMTQ5MzRmIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286ODFjODQ1NDktOTg5ZC00MWVhLWFhMjgtNmFjODhhMmFkZDQ3IiwibmJmIjoxNTIyNzgxMTgxLCJleHAiOjE1MzA1NTcxODF9.dZrNkY7-ft6wz68-Nyzak4GgNnMR9p_N8iw9FsRSn3OA11-HG3xS6gqc1bWF8VXG0kkAPgdBmfDHMgGZRjyBlVd2p00ja_EvQ_MfET1KHoOcN6RPPBy1mpVEEarhQu4Eyfc34s4ZWpCt4CYOtOPnm-JlpwgyN2dRu_1y7e7cwFVfK9F3VzCy31zCPwJCuiGAIP4ySl-k8j8P0ZRNxf0FP3r-m11pVcodoXPemEsELLmf2KCYzqRTmaS5FS0nZhDbqBy-2OeGJnreM9xcvnf-9oXpVHhOHOEYm6EjQDHhOZhMbrcE-1fWAWh2QwZ9rc4P4a5PqVtUSAwrfAlFP3mXpw
//fluentweb.pkgs.visualstudio.com/_packaging/ms.fw/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIxYjg4OWMzOC0wMjY3LTQwYjMtOGNiMy1hZDE4ZDRjMTI3MzkiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZjRiZDFjYjQtNzQ3Ny00YTkwLTg2MDItMGFlNGM2ZWRkYjMxIiwic2lkIjoiNDZlZjdhZmUtMTg4ZS00YTQ1LWFmNDQtM2U1YjYzMTQ5MzRmIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286ODFjODQ1NDktOTg5ZC00MWVhLWFhMjgtNmFjODhhMmFkZDQ3IiwibmJmIjoxNTIyNzgxMTgxLCJleHAiOjE1MzA1NTcxODF9.dZrNkY7-ft6wz68-Nyzak4GgNnMR9p_N8iw9FsRSn3OA11-HG3xS6gqc1bWF8VXG0kkAPgdBmfDHMgGZRjyBlVd2p00ja_EvQ_MfET1KHoOcN6RPPBy1mpVEEarhQu4Eyfc34s4ZWpCt4CYOtOPnm-JlpwgyN2dRu_1y7e7cwFVfK9F3VzCy31zCPwJCuiGAIP4ySl-k8j8P0ZRNxf0FP3r-m11pVcodoXPemEsELLmf2KCYzqRTmaS5FS0nZhDbqBy-2OeGJnreM9xcvnf-9oXpVHhOHOEYm6EjQDHhOZhMbrcE-1fWAWh2QwZ9rc4P4a5PqVtUSAwrfAlFP3mXpw
; end auth token