.c-select {
  &.o-border > div [aria-expanded] {
    height: auto;
  }

  > div {
    background: #fff;

    &:before {
      display: none;
    }

    > button {
      background: transparent;
      transform: none;

      &:after {
        font-family: "FW-MDL2";
        content: "\E70D";
        position: absolute;
        right: 4px;
        height: 34px;
        width: 31px;
        padding-top: 4px;
        text-align: center;
      }
    }
  }

  &:after {
    display: none;
  }
}

.c-label {
  display: block;
}

.c-textarea {
  .c-label {
    display: block;
  }
}

.c-badge.o-small {
  padding: 0 5px 1px 5px;
}

.c-drawer {
  width: 100%;

  & > button {
    background: #919191;
    color: #fff;
    text-align: left;
    font-size: 18px;

    &::after{
      top: 12px;
    }

    &:hover {
      background: #5e5e5e;
    }

    &:focus {
      background: #919191;
    }
  }

  & > div {
    padding: $tab-container-padding;
  }
}

.c-glyph.glyph-edit:before {
  margin: 0;
}

.c-table {
  table, td, th {
    border: none;
  }

  td, th {
    height: 100%;
  }
}

.c-pagination {
  li a:focus:not(.x-hidden-focus) {
    background: none;
    text-decoration: initial;
  }
}