.si-highlighted-code {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  margin: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.6);

  > code {
      padding: 0.5em;
      height: 100%;
      background: white;

      >.hljs-attr {
          color: #EB0000 !important;
      }
  }

  .copy-button {
      min-width: 0;
      height: 28px;
      width: 28px;
      margin-top: 0;
      padding: 5px;
      position: absolute;
      right: $tab-container-padding * 2;
      top: $tab-container-padding;
  }
}

.highlighted-code-stitch {
  height: 500px;
  margin-bottom: 5px;
}