.si-linechart-container {
  margin: $tab-container-padding;
  position: relative;

  .si-chart-title {
    font-size: 24px;
    text-align: center;
  }

  .si-chart-display {
    width: 100%;
    background: white;
    border: 1px solid #464646;
    margin: auto;

    &.blur {
      filter: blur(2px);
    }
  }

  .si-chart-footer {
    display: flex;
    padding: 4px;

    > div {
      width: 100%;
      display: flex;
    }

    .footer-subtext {
      padding: 4px;
      font-size: small;
      text-align: right;
      margin-left: auto;
    }
  }

  .si-dimmer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 24px;
      color: white;
      text-align: center;
    }
  }

  .si-spinner{
    position: absolute;
    top: 0;
  }

  .glyph-info {
    font-size: 17px;
    
    &:hover {
      cursor: help;
    }
  }
}
