.si-list-item {
  cursor: pointer;
  overflow: hidden;
  border-radius: 0px !important;
  font-size: 12px;
  border-radius: 8px;
  color: $panel-font-color;
  display: block;
  border-bottom: 1px solid rgba(190, 190, 190, .5);

  &:hover {
      background-color: #ddd;
  }

  &.active {
      background-color: #CFCFCF;
  }
}
