.si-messages {
  & > :first-child {
    padding-top: $tab-container-padding;
  }

  i {
    font-style: normal;
  }

  button {
    margin: 8px 8px 8px 0;
  }

  .ms-MessageBar {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .ms-MessageBar.collapsing {
    visibility: hidden;
    opacity: 0;
  }
}