$si-label-error-color: #e81123;
$si-label-warning-color: #ffb900;

.si-label {
  font-size: 12px;

  &.si-label-error {
    color: $si-label-error-color;
  }

  &.si-label-warning {
    color: $si-label-warning-color;
  }
}

input.c-text-field.si-validation-error,
.c-select.o-border.si-validation-error button {
  border-color: $si-label-error-color;

  &:hover, &:focus, &:active {
    border-color: $si-label-error-color;
  }
}

input.c-text-field.si-validation-warning,
.c-select.o-border.si-validation-warning button {
  border-color: $si-label-warning-color;

  &:hover, &:focus, &:active {
    border-color: $si-label-warning-color;
  }
}